.desktop-6-child,
.desktop-6-item {
  position: absolute;
  top: 126px;
  left: 0;
  width: 1440px;
  height: 2064px;
}
.desktop-6-item {
  top: 2205px;
  background-color: var(--color-white);
  height: 319px;
}
.empty-chairs-by-table-room-1-icon7 {
  position: absolute;
  top: 2116px;
  left: 686px;
  width: 0;
  height: 0;
  object-fit: cover;
}
.group-child138 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro-100);
  width: 665px;
  height: 383px;
}
.image-2-icon17 {
  position: absolute;
  top: 2px;
  left: 79px;
  width: 475px;
  height: 366px;
  object-fit: cover;
}
.rectangle-parent75 {
  position: absolute;
  top: 271px;
  left: 92px;
  width: 665px;
  height: 383px;
}
.chrysalis-nova-motorized,
.chrysalis-nova16 {
  position: absolute;
  top: 0;
  left: 0;
  text-transform: capitalize;
  display: inline-block;
  width: 189px;
  height: 59px;
}
.chrysalis-nova-motorized {
  top: 59px;
  left: 2px;
  font-size: var(--font-size-smi);
  text-align: justify;
  width: 393px;
  height: 175px;
}
.chrysalis-nova-parent,
.group-child139 {
  position: absolute;
  top: 0;
  left: 0;
  width: 395px;
  height: 234px;
}
.group-child139 {
  background-color: #d9d9d9;
  width: 99px;
  height: 25px;
}
.know-more {
  position: absolute;
  top: 5px;
  left: 12px;
  text-transform: capitalize;
}
.rectangle-parent76 {
  position: absolute;
  top: 266px;
  left: 0;
  width: 99px;
  height: 25px;
  cursor: pointer;
  text-align: justify;
  font-size: var(--font-size-smi);
}
.group-parent62 {
  position: absolute;
  top: 316px;
  left: 851px;
  width: 395px;
  height: 291px;
  text-align: center;
  color: var(--color-black);
}
.group-child140 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 1440px;
  height: 141px;
}
.furniture8 {
  left: 0;
  cursor: pointer;
}
.furniture8,
.green-panel8,
.security8 {
  position: absolute;
  top: 0;
  text-transform: uppercase;
}
.security8 {
  left: 152px;
  cursor: pointer;
}
.green-panel8 {
  left: 285px;
}
.furniture-parent6 {
  position: absolute;
  top: 24px;
  left: 268px;
  width: 405px;
  height: 20px;
}
.profile-user-2-icon8,
.shopping-cart-1-icon8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  overflow: hidden;
}
.shopping-cart-1-icon8 {
  left: 40.1px;
}
.profile-user-2-parent6 {
  position: absolute;
  top: 24px;
  left: 1233px;
  width: 65.1px;
  height: 25px;
}
.group-child141,
.group-child142 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-child141 {
  height: 100%;
  width: 35.07%;
  top: 0;
  right: 64.93%;
  bottom: 0;
  left: 0;
  object-fit: cover;
}
.group-child142 {
  height: 60.58%;
  width: 58.93%;
  top: 20.47%;
  right: 0;
  bottom: 18.94%;
  left: 41.07%;
}
.group-wrapper80,
.group-wrapper81 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.group-wrapper80 {
  width: 15.79%;
  right: 84.21%;
}
.group-child143 {
  position: absolute;
  top: 0;
  left: calc(50% - 202.5px);
  background-color: var(--color-white);
  width: 405px;
  height: 46px;
}
.search-1-icon8 {
  position: absolute;
  top: 0;
  left: 355px;
  width: 27px;
  height: 27px;
  overflow: hidden;
}
.search8 {
  position: absolute;
  top: 4px;
  left: 0;
  letter-spacing: 0.4em;
  text-transform: uppercase;
}
.search-1-parent6 {
  position: absolute;
  top: 10px;
  left: 12px;
  width: 382px;
  height: 27px;
}
.rectangle-parent78 {
  position: absolute;
  top: 13px;
  left: calc(50% + 115.95px);
  width: 405px;
  height: 46px;
  font-size: var(--font-size-mini);
  color: var(--color-gray-100);
}
.group-parent63 {
  position: absolute;
  top: 35px;
  left: 44px;
  width: 1298.1px;
  height: 71.8px;
}
.group-child144,
.rectangle-parent77 {
  position: absolute;
  left: 0;
  width: 1440px;
}
.rectangle-parent77 {
  top: 0;
  height: 141px;
  font-size: var(--font-size-base);
}
.group-child144 {
  bottom: 0;
  background-color: var(--color-gray-200);
  height: 343px;
}
.labhdayak-interior-solutions7 {
  position: absolute;
  top: 217px;
  left: calc(50% - 181.5px);
  font-size: var(--font-size-mini);
  letter-spacing: 0.12em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 507px;
  height: 18px;
}
.group-child145 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 229px;
  height: 62px;
}
.authorized-dealer7 {
  position: absolute;
  top: 0;
  left: calc(50% - 54.95px);
  text-transform: capitalize;
  display: inline-block;
  width: 110px;
  height: 15.5px;
}
.godrej7 {
  font-family: var(--font-mr-dafoe);
}
.godrej-interio7 {
  position: absolute;
  top: 12.4px;
  left: 0;
  font-size: var(--font-size-5xl);
  text-transform: capitalize;
  display: inline-block;
  width: 152.3px;
  height: 24.8px;
}
.group-wrapper85,
.group-wrapper86 {
  position: absolute;
  top: 0;
  left: calc(50% - 76.15px);
  width: 152.3px;
  height: 37.2px;
}
.group-wrapper85 {
  top: 9.3px;
  left: calc(50% - 76.2px);
}
.group-wrapper84,
.rectangle-parent80 {
  position: absolute;
  top: 0;
  left: 0;
  width: 229px;
  height: 62px;
}
.group-wrapper84 {
  top: 107px;
  left: 1022px;
  font-size: var(--font-size-xs);
  color: var(--color-black);
}
.about7 {
  position: absolute;
  top: 0;
  left: 0;
  text-transform: uppercase;
  font-weight: 500;
}
.about-us7 {
  margin: 0;
}
.about-us-career-container7 {
  position: absolute;
  top: 59px;
  left: 0;
  font-size: var(--font-size-mini);
  line-height: 30px;
  text-transform: uppercase;
}
.about-parent5,
.div7,
.policy-parent5 {
  position: absolute;
  top: 0;
  left: 444px;
  width: 89px;
  height: 149px;
}
.div7,
.policy-parent5 {
  left: 599px;
  width: 171px;
  height: 119px;
}
.div7 {
  top: 59px;
  left: 4px;
  font-size: var(--font-size-base);
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 111px;
  height: 67px;
}
.contact-parent5,
.group-child146 {
  position: absolute;
  top: 0;
  left: 836px;
  width: 119px;
  height: 126px;
}
.group-child146 {
  left: 0;
  background-color: var(--color-white);
  width: 229px;
  height: 96px;
}
.r7 {
  text-transform: uppercase;
}
.egistered7 {
  text-transform: lowercase;
}
.registered-member7 {
  position: absolute;
  top: 66px;
  left: calc(50% - 66px);
  font-weight: 500;
}
.px-gem-logo-1-icon7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 198px;
  height: 58px;
  object-fit: cover;
}
.registered-member-parent5 {
  position: absolute;
  top: 6px;
  left: calc(50% - 98.5px);
  width: 198px;
  height: 82px;
}
.rectangle-parent81 {
  position: absolute;
  top: 0;
  left: 1022px;
  width: 229px;
  height: 96px;
  font-size: var(--font-size-smi);
  color: var(--color-black);
}
.facebook-1-icon7 {
  position: absolute;
  top: 0;
  left: 98px;
  width: 33px;
  height: 33px;
  overflow: hidden;
}
.instagram-1-icon7,
.linkedin-1-icon7,
.whatsapp-1-icon7,
.youtube-1-icon7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 33px;
  height: 33px;
  overflow: hidden;
}
.instagram-1-icon7,
.linkedin-1-icon7,
.youtube-1-icon7 {
  left: 147px;
}
.instagram-1-icon7,
.linkedin-1-icon7 {
  left: 196px;
}
.instagram-1-icon7 {
  left: 49px;
}
.facebook-1-parent5 {
  position: absolute;
  top: 202px;
  left: 1022px;
  width: 229px;
  height: 33px;
}
.mumbai-pune-road7 {
  position: absolute;
  top: 175px;
  left: 13px;
  font-size: var(--font-size-base);
  line-height: 30px;
  text-transform: uppercase;
  display: inline-block;
  width: 346px;
}
.group-child147,
.group-child148 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-child147 {
  height: 100%;
  width: 35.06%;
  top: 0;
  right: 64.94%;
  bottom: 0;
  left: 0;
  object-fit: cover;
}
.group-child148 {
  height: 60.5%;
  width: 58.95%;
  top: 20.5%;
  right: -0.03%;
  bottom: 18.99%;
  left: 41.07%;
}
.group-parent65 {
  position: absolute;
  height: 50.64%;
  width: 28.71%;
  top: 0;
  right: 71.29%;
  bottom: 49.36%;
  left: 0;
}
.labhdayak-interior-solutions-c-parent5 {
  position: absolute;
  top: 54px;
  left: calc(50% - 625px);
  width: 1251px;
  height: 235px;
}
.rectangle-parent79 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1440px;
  height: 343px;
}
.desktop-6 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1179px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
