.empty-chairs-tables-cafe-1-icon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1581px;
  height: 845px;
  object-fit: cover;
}
.desktop-10-child {
  position: absolute;
  top: 82px;
  left: calc(50% - 720px);
  background-color: var(--color-black);
  width: 1440px;
  height: 721px;
  opacity: 0.4;
  mix-blend-mode: multiply;
}
.desktop-10-item {
  position: absolute;
  top: 793px;
  left: 0;
  background-color: var(--color-gray-200);
  width: 1440px;
  height: 1412px;
}
.desktop-10-inner {
  position: absolute;
  top: 687px;
  left: calc(50% - 600px);
  background-color: var(--color-darkorange);
  width: 1192px;
  height: 206px;
}
.desktop-10-child1 {
  position: absolute;
  top: 2205px;
  left: 0;
  background-color: var(--color-white);
  width: 1440px;
  height: 360px;
}
.empty-chairs-by-table-room-1-icon2 {
  position: absolute;
  top: 2116px;
  left: 686px;
  width: 0;
  height: 0;
  object-fit: cover;
}
.group-child28 {
  position: absolute;
  top: 13px;
  left: 232px;
  max-height: 100%;
  width: 963px;
}
.best-sellers2 {
  position: absolute;
  top: 0;
  left: 0;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 208px;
  height: 25px;
}
.vector-parent2 {
  position: absolute;
  top: 1812px;
  left: 123px;
  width: 1195px;
  height: 25px;
  font-family: var(--font-montagu-slab);
}
.mask-group-icon10,
.mask-group-icon11,
.mask-group-icon12 {
  position: absolute;
  top: 1131px;
  left: 123px;
  width: 286px;
  height: 192px;
  object-fit: cover;
}
.mask-group-icon11,
.mask-group-icon12 {
  top: 1547px;
  width: 589px;
}
.mask-group-icon12 {
  top: 1131px;
  left: 426px;
  width: 286px;
  height: 400px;
}
.group-child29,
.mask-group-icon13 {
  position: absolute;
  width: 286px;
  height: 192px;
}
.mask-group-icon13 {
  top: 1131px;
  left: 1032px;
  object-fit: cover;
}
.group-child29 {
  top: 0;
  left: 0;
  background-color: var(--color-white);
}
.group-child30 {
  object-fit: cover;
}
.group-child30,
.group-wrapper23,
.group-wrapper24 {
  position: absolute;
  top: 0;
  left: 0;
  width: 202.5px;
  height: 188.1px;
}
.group-wrapper23 {
  top: 3.9px;
  left: 37.5px;
}
.mask-group-icon14,
.rectangle-parent14,
.rectangle-parent15 {
  position: absolute;
  top: 1131px;
  left: 728px;
  width: 286px;
  height: 192px;
}
.mask-group-icon14,
.rectangle-parent15 {
  top: 1339px;
  left: 123px;
}
.mask-group-icon14 {
  left: 728px;
  width: 590px;
  height: 400px;
  object-fit: cover;
}
.group-child33 {
  position: absolute;
  top: 19px;
  left: 295px;
  max-height: 100%;
  width: 900px;
}
.view-by-category2 {
  position: absolute;
  top: 0;
  left: 0;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 277px;
  height: 38px;
}
.vector-parent3 {
  position: absolute;
  top: 1020px;
  left: 123px;
  width: 1195px;
  height: 38px;
  font-family: var(--font-montagu-slab);
}
.span8 {
  font-size: var(--font-size-mini);
}
.your-premier-partner2 {
  font-size: var(--font-size-base);
}
.your-premier-partner-for-godre8 {
  font-weight: 500;
  font-family: var(--font-montserrat);
}
.at-labhdayak-we2,
.your-premier-partner-for-godre7 {
  text-transform: capitalize;
  white-space: pre-wrap;
}
.at-labhdayak-we2 {
  text-transform: lowercase;
}
.your-premier-partner-container2 {
  position: absolute;
  top: 2295px;
  left: calc(50% - 422px);
  color: var(--color-black);
  display: inline-block;
  width: 829px;
  height: 175px;
  font-size: var(--font-size-mini);
}
.one-stop-solution-container2 {
  position: absolute;
  top: 728px;
  left: calc(50% - 376px);
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--font-montagu-slab);
  display: inline-block;
  width: 745px;
}
.empty-chairs-by-table-room-2-icon4,
.empty-chairs-by-table-room-2-icon5 {
  position: absolute;
  top: 1910px;
  left: 422px;
  width: 288.1px;
  height: 202px;
  object-fit: cover;
}
.empty-chairs-by-table-room-2-icon5 {
  left: 1030px;
}
.home-automation-with-tablet-2-icon2,
.home-automation-with-tablet-3-icon2 {
  position: absolute;
  top: 1910px;
  left: 116px;
  width: 292px;
  height: 202px;
  object-fit: cover;
}
.home-automation-with-tablet-3-icon2 {
  left: 724px;
}
.group-child34 {
  position: absolute;
  top: 2px;
  left: 0;
  background-color: var(--color-white);
  width: 153px;
  height: 108px;
}
.group-child35,
.home1 {
  position: absolute;
  top: 0;
}
.group-child35 {
  left: 0;
  background-color: var(--color-gainsboro-100);
  width: 153px;
  height: 48px;
}
.home1 {
  left: 6px;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 55px;
  height: 21px;
}
.health1,
.home-group {
  position: absolute;
  width: 67px;
}
.health1 {
  top: 43px;
  left: 0;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  height: 21px;
}
.home-group {
  top: 18px;
  left: 43px;
  height: 64px;
}
.rectangle-parent16,
.rectangle-parent17 {
  position: absolute;
  top: 0;
  left: 0;
  width: 153px;
  height: 82px;
}
.rectangle-parent16 {
  top: 139px;
  left: 428px;
  height: 110px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.group-child36 {
  position: absolute;
  top: 0;
  left: 19px;
  background-color: var(--color-gainsboro-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 264px;
  height: 241px;
}
.home-locks {
  margin-block-start: 0;
  margin-block-end: 10px;
}
.home-carmeras {
  margin: 0;
}
.home-locks-personal-container {
  position: absolute;
  top: 31px;
  left: 50px;
  text-transform: capitalize;
  font-weight: 500;
}
.group-child37 {
  position: absolute;
  top: 25px;
  left: 0;
  width: 20px;
  height: 30px;
}
.desktop-10-inner1,
.rectangle-parent18 {
  position: absolute;
  width: 283px;
  height: 241px;
}
.rectangle-parent18 {
  top: 0;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.desktop-10-inner1 {
  top: 123px;
  left: 555px;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-black);
}
.group-child38 {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray-200);
  width: 1440px;
  height: 343px;
}
.labhdayak-interior-solutions2 {
  position: absolute;
  top: 217px;
  left: calc(50% - 181.5px);
  font-size: var(--font-size-mini);
  letter-spacing: 0.12em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 507px;
  height: 18px;
}
.group-child39 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 229px;
  height: 62px;
}
.authorized-dealer2 {
  position: absolute;
  top: 0;
  left: calc(50% - 54.95px);
  text-transform: capitalize;
  display: inline-block;
  width: 110px;
  height: 15.5px;
}
.godrej2 {
  font-family: var(--font-mr-dafoe);
}
.godrej-interio2 {
  position: absolute;
  top: 12.4px;
  left: 0;
  font-size: var(--font-size-5xl);
  text-transform: capitalize;
  display: inline-block;
  width: 152.3px;
  height: 24.8px;
}
.authorized-dealer-container,
.group-wrapper28 {
  position: absolute;
  top: 0;
  left: calc(50% - 76.15px);
  width: 152.3px;
  height: 37.2px;
}
.group-wrapper28 {
  top: 9.3px;
  left: calc(50% - 76.2px);
}
.group-wrapper27,
.rectangle-parent20 {
  position: absolute;
  top: 0;
  left: 0;
  width: 229px;
  height: 62px;
}
.group-wrapper27 {
  top: 107px;
  left: 1022px;
  font-size: var(--font-size-xs);
  color: var(--color-black);
}
.about-us-career-container2,
.about2 {
  position: absolute;
  left: 0;
  text-transform: uppercase;
}
.about2 {
  top: 0;
  font-weight: 500;
}
.about-us-career-container2 {
  top: 59px;
  font-size: var(--font-size-mini);
  line-height: 30px;
}
.about-container {
  position: absolute;
  top: 0;
  left: 444px;
  width: 89px;
  height: 149px;
}
.div2,
.policy-container {
  position: absolute;
  top: 0;
  left: 599px;
  width: 171px;
  height: 119px;
}
.div2 {
  top: 59px;
  left: 4px;
  font-size: var(--font-size-base);
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 111px;
  height: 67px;
}
.contact-container,
.group-child40 {
  position: absolute;
  top: 0;
  left: 836px;
  width: 119px;
  height: 126px;
}
.group-child40 {
  left: 0;
  background-color: var(--color-white);
  width: 229px;
  height: 96px;
}
.r2 {
  text-transform: uppercase;
}
.egistered2 {
  text-transform: lowercase;
}
.registered-member2 {
  position: absolute;
  top: 66px;
  left: calc(50% - 66px);
  font-weight: 500;
}
.px-gem-logo-1-icon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 198px;
  height: 58px;
  object-fit: cover;
}
.registered-member-container {
  position: absolute;
  top: 6px;
  left: calc(50% - 98.5px);
  width: 198px;
  height: 82px;
}
.rectangle-parent21 {
  position: absolute;
  top: 0;
  left: 1022px;
  width: 229px;
  height: 96px;
  font-size: var(--font-size-smi);
  color: var(--color-black);
}
.facebook-1-icon2 {
  position: absolute;
  top: 0;
  left: 98px;
  width: 33px;
  height: 33px;
  overflow: hidden;
}
.instagram-1-icon2,
.linkedin-1-icon2,
.whatsapp-1-icon2,
.youtube-1-icon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 33px;
  height: 33px;
  overflow: hidden;
}
.instagram-1-icon2,
.linkedin-1-icon2,
.youtube-1-icon2 {
  left: 147px;
}
.instagram-1-icon2,
.linkedin-1-icon2 {
  left: 196px;
}
.instagram-1-icon2 {
  left: 49px;
}
.facebook-1-container {
  position: absolute;
  top: 202px;
  left: 1022px;
  width: 229px;
  height: 33px;
}
.mumbai-pune-road2 {
  position: absolute;
  top: 175px;
  left: 13px;
  font-size: var(--font-size-base);
  line-height: 30px;
  text-transform: uppercase;
  display: inline-block;
  width: 346px;
}
.group-child41,
.group-child42 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-child41 {
  height: 100%;
  width: 35.06%;
  top: 0;
  right: 64.94%;
  bottom: 0;
  left: 0;
  object-fit: cover;
}
.group-child42 {
  height: 60.5%;
  width: 58.95%;
  top: 20.5%;
  right: -0.03%;
  bottom: 18.99%;
  left: 41.07%;
}
.group-parent6 {
  position: absolute;
  height: 50.64%;
  width: 28.71%;
  top: 0;
  right: 71.29%;
  bottom: 49.36%;
  left: 0;
}
.labhdayak-interior-solutions-c-container {
  position: absolute;
  top: 54px;
  left: calc(50% - 625px);
  width: 1251px;
  height: 235px;
}
.group-child43,
.rectangle-parent19 {
  position: absolute;
  left: 0;
  width: 1440px;
}
.rectangle-parent19 {
  bottom: 0;
  height: 343px;
  text-align: left;
}
.group-child43 {
  top: 0;
  background-color: var(--color-gray-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 141px;
}
.furniture2 {
  left: 0;
  cursor: pointer;
}
.furniture2,
.green-panel2,
.security2 {
  position: absolute;
  top: 0;
  text-transform: uppercase;
  font-weight: 500;
}
.security2 {
  left: 152px;
  cursor: pointer;
}
.green-panel2 {
  left: 285px;
}
.furniture-container {
  position: absolute;
  top: 24px;
  left: 268px;
  width: 404px;
  height: 20px;
}
.profile-user-2-icon2,
.shopping-cart-1-icon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  overflow: hidden;
}
.shopping-cart-1-icon2 {
  left: 40.1px;
}
.profile-user-2-container {
  position: absolute;
  top: 24px;
  left: 1233px;
  width: 65.1px;
  height: 25px;
}
.group-child44,
.group-child45 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-child44 {
  height: 100%;
  width: 35.07%;
  top: 0;
  right: 64.93%;
  bottom: 0;
  left: 0;
  object-fit: cover;
}
.group-child45 {
  height: 60.58%;
  width: 58.93%;
  top: 20.47%;
  right: 0;
  bottom: 18.94%;
  left: 41.07%;
}
.group-wrapper31,
.group-wrapper32 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.group-wrapper31 {
  width: 15.79%;
  right: 84.21%;
}
.group-child46 {
  position: absolute;
  top: 0;
  left: calc(50% - 202.5px);
  background-color: var(--color-white);
  width: 405px;
  height: 46px;
}
.search-1-icon2 {
  position: absolute;
  top: 0;
  left: 355px;
  width: 27px;
  height: 27px;
  overflow: hidden;
}
.search2 {
  position: absolute;
  top: 4px;
  left: 0;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  font-weight: 500;
}
.search-1-container {
  position: absolute;
  top: 10px;
  left: 12px;
  width: 382px;
  height: 27px;
}
.rectangle-parent23 {
  position: absolute;
  top: 13px;
  left: calc(50% + 115.95px);
  width: 405px;
  height: 46px;
  font-size: var(--font-size-mini);
  color: var(--color-gray-100);
}
.group-parent7 {
  position: absolute;
  top: 35px;
  left: 44px;
  width: 1298.1px;
  height: 71.8px;
}
.rectangle-parent22 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 141px;
  text-align: left;
  font-size: var(--font-size-base);
}
.desktop-10 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 2886px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
