.labhdayak-interior-solutions9 {
  position: absolute;
  top: 217px;
  left: calc(50% - 181.5px);
  font-size: var(--font-size-mini);
  letter-spacing: 0.12em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 507px;
  height: 18px;
}
.authorized-dealer9 {
  width: 110px;
  position: relative;
  text-transform: capitalize;
  display: inline-block;
  height: 15.5px;
  flex-shrink: 0;
}
.godrej9 {
  font-family: var(--font-mr-dafoe);
}
.godrej-interio9 {
  width: 152.3px;
  position: relative;
  font-size: var(--font-size-5xl);
  text-transform: capitalize;
  display: inline-block;
  height: 24.8px;
  flex-shrink: 0;
  margin-top: -3px;
}
.authorized-dealer-parent7,
.frame-wrapper {
  width: 152.3px;
  height: 37.2px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.frame-wrapper {
  position: absolute;
  top: 107px;
  left: 1022px;
  background-color: var(--color-white);
  width: 229px;
  height: 62px;
  align-items: center;
  padding: 9.3px 0;
  box-sizing: border-box;
  font-size: var(--font-size-xs);
  color: var(--color-black);
}
.about9 {
  position: absolute;
  top: 0;
  left: 444px;
  text-transform: uppercase;
  font-weight: 500;
}
.about-us9 {
  margin: 0;
}
.about-us-career-container9 {
  position: absolute;
  top: 59px;
  left: 0;
  font-size: var(--font-size-mini);
  line-height: 30px;
  text-transform: uppercase;
}
.about-parent7 {
  position: absolute;
  top: 0;
  left: 444px;
  width: 89px;
  height: 149px;
}
.policy-parent7,
.policy9 {
  position: absolute;
  top: 0;
  left: 599px;
}
.policy9 {
  text-transform: uppercase;
  font-weight: 500;
}
.policy-parent7 {
  width: 171px;
  height: 119px;
}
.contact9,
.div9 {
  position: absolute;
  top: 0;
  left: 836px;
  text-transform: uppercase;
  font-weight: 500;
}
.div9 {
  top: 59px;
  left: 0;
  font-size: var(--font-size-base);
  line-height: 30px;
  display: inline-block;
  width: 111px;
  height: 67px;
}
.contact-parent7 {
  position: absolute;
  top: 0;
  left: 836px;
  width: 119px;
  height: 126px;
}
.r9 {
  text-transform: uppercase;
}
.egistered9 {
  text-transform: lowercase;
}
.registered-member9 {
  position: absolute;
  top: 66px;
  left: calc(50% - 50px);
  font-weight: 500;
}
.px-gem-logo-1-icon9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 198px;
  height: 58px;
  object-fit: cover;
}
.registered-member-parent7 {
  width: 198px;
  position: relative;
  height: 82px;
}
.frame-container {
  position: absolute;
  top: 0;
  left: 1022px;
  background-color: var(--color-white);
  width: 229px;
  height: 96px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 6px 15px;
  box-sizing: border-box;
  font-size: var(--font-size-smi);
  color: var(--color-black);
}
.whatsapp-1-icon9 {
  width: 33px;
  position: relative;
  height: 33px;
  overflow: hidden;
  flex-shrink: 0;
}
.whatsapp-1-parent {
  position: absolute;
  top: 202px;
  left: 1022px;
  width: 229px;
  height: 33px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.mumbai-pune-road9 {
  position: absolute;
  top: 175px;
  left: 108px;
  font-size: var(--font-size-base);
  line-height: 30px;
  text-transform: uppercase;
  display: inline-block;
  width: 346px;
}
.frame-child {
  width: 125.9px;
  position: relative;
  height: 119px;
  object-fit: cover;
}
.frame-item {
  width: 211.7px;
  position: relative;
  height: 72px;
}
.group-parent69 {
  position: absolute;
  top: 0;
  left: 0;
  width: 359.1px;
  height: 119px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 21px;
}
.labhdayak-interior-solutions-c-parent7 {
  width: 1251px;
  position: relative;
  height: 235px;
}
.desktop-1-inner {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray-200);
  width: 1440px;
  height: 343px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.empty-chairs-tables-cafe-1-icon4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1581px;
  height: 845px;
  object-fit: cover;
}
.frame-child1,
.frame-inner {
  position: absolute;
  width: 1440px;
}
.frame-inner {
  top: 82px;
  left: calc(50% - 790.5px);
  background-color: var(--color-black);
  height: 721px;
  opacity: 0.4;
  mix-blend-mode: multiply;
}
.frame-child1 {
  top: 793px;
  left: 0;
  background-color: var(--color-gray-200);
  height: 1412px;
}
.frame-child2 {
  position: absolute;
  top: 687px;
  left: calc(50% - 670.5px);
  background-color: var(--color-darkorange);
  width: 1192px;
  height: 206px;
}
.frame-child3 {
  position: absolute;
  top: 2205px;
  left: 0;
  background-color: var(--color-white);
  width: 1440px;
  height: 319px;
}
.empty-chairs-by-table-room-1-icon9 {
  position: absolute;
  top: 2116px;
  left: 686px;
  width: 0;
  height: 0;
  object-fit: cover;
}
.frame-child4 {
  position: absolute;
  top: 13px;
  left: 232px;
  max-height: 100%;
  width: 963px;
}
.best-sellers4,
.vector-parent6 {
  position: absolute;
  left: 123px;
  height: 25px;
}
.best-sellers4 {
  top: 0;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 208px;
}
.vector-parent6 {
  top: 1812px;
  width: 1195px;
  font-family: var(--font-montagu-slab);
}
.mask-group-icon20,
.mask-group-icon21 {
  position: absolute;
  top: 1131px;
  left: 123px;
  width: 286px;
  height: 192px;
  object-fit: cover;
}
.mask-group-icon21 {
  top: 1547px;
  width: 589px;
}
.mask-group-icon22,
.mask-group-icon23 {
  position: absolute;
  top: 1131px;
  left: 426px;
  width: 286px;
  height: 400px;
  object-fit: cover;
}
.mask-group-icon23 {
  left: 1032px;
  height: 192px;
}
.image-1-icon {
  width: 202.5px;
  position: relative;
  height: 188.1px;
  object-fit: cover;
}
.image-1-container,
.image-1-wrapper {
  position: absolute;
  top: 1131px;
  left: 728px;
  background-color: var(--color-white);
  width: 286px;
  height: 192px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-18xl-5);
  box-sizing: border-box;
}
.image-1-container {
  top: 1339px;
  left: 123px;
}
.mask-group-icon24 {
  position: absolute;
  top: 1339px;
  left: 728px;
  width: 590px;
  height: 400px;
  object-fit: cover;
}
.frame-child5 {
  position: absolute;
  top: 19px;
  left: 295px;
  max-height: 100%;
  width: 900px;
}
.vector-parent7,
.view-by-category4 {
  position: absolute;
  left: 123px;
  height: 38px;
}
.view-by-category4 {
  top: 0;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 277px;
}
.vector-parent7 {
  top: 1020px;
  width: 1195px;
  font-family: var(--font-montagu-slab);
}
.span16 {
  font-size: var(--font-size-mini);
}
.your-premier-partner4 {
  font-size: var(--font-size-base);
}
.your-premier-partner-for-godre14 {
  font-weight: 500;
  font-family: var(--font-montserrat);
}
.at-labhdayak-we4,
.your-premier-partner-for-godre13 {
  text-transform: capitalize;
  white-space: pre-wrap;
}
.at-labhdayak-we4 {
  text-transform: lowercase;
}
.your-premier-partner-container4 {
  position: absolute;
  top: 2295px;
  left: calc(50% - 492.5px);
  color: var(--color-black);
  display: inline-block;
  width: 829px;
  height: 175px;
  font-size: var(--font-size-mini);
}
.one-stop-solution-container4 {
  position: absolute;
  top: 728px;
  left: calc(50% - 446.5px);
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--font-montagu-slab);
  display: inline-block;
  width: 745px;
}
.empty-chairs-by-table-room-2-icon8,
.empty-chairs-by-table-room-2-icon9 {
  position: absolute;
  top: 1910px;
  left: 422px;
  width: 288.1px;
  height: 202px;
  object-fit: cover;
}
.empty-chairs-by-table-room-2-icon9 {
  left: 1030px;
}
.home-automation-with-tablet-2-icon4,
.home-automation-with-tablet-3-icon4 {
  position: absolute;
  top: 1910px;
  left: 116px;
  width: 292px;
  height: 202px;
  object-fit: cover;
}
.home-automation-with-tablet-3-icon4 {
  left: 724px;
}
.greenpanel-club-plywood,
.greenpanel-club-plywood1 {
  position: absolute;
  top: 48px;
  left: 62px;
  font-weight: 500;
  display: inline-block;
  width: 466px;
}
.greenpanel-club-plywood1 {
  top: 0;
  left: 0;
  font-size: var(--font-size-base);
  text-transform: uppercase;
  text-align: left;
  width: 260px;
  height: 22px;
}
.greenpanel-club-plywood-is-a-p-parent {
  width: 466px;
  position: relative;
  height: 273px;
}
.frame-inner1 {
  position: absolute;
  top: 1339px;
  left: 728px;
  background-color: rgba(0, 0, 0, 0.8);
  width: 590px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  mix-blend-mode: multiply;
  font-size: var(--font-size-xs);
}
.frame-child6 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 1440px;
  height: 141px;
}
.furniture10 {
  left: 312px;
  cursor: pointer;
}
.furniture10,
.green-panel10,
.security10 {
  position: absolute;
  top: 59px;
  font-size: var(--font-size-base);
  text-transform: uppercase;
  font-weight: 500;
  text-align: left;
}
.security10 {
  left: 464px;
  cursor: pointer;
}
.green-panel10 {
  left: 597px;
}
.profile-user-2-icon10 {
  width: 25px;
  position: relative;
  height: 25px;
  overflow: hidden;
  flex-shrink: 0;
}
.profile-user-2-parent8 {
  position: absolute;
  top: 59px;
  left: 1277px;
  width: 65.1px;
  height: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}
.frame-child7 {
  width: 71.9px;
  position: relative;
  height: 71.8px;
  object-fit: cover;
}
.frame-child8 {
  width: 120.8px;
  position: relative;
  height: 43.5px;
}
.group-parent70 {
  position: absolute;
  top: 35px;
  left: 44px;
  width: 205px;
  height: 71.8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}
.search10 {
  position: relative;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  font-weight: 500;
}
.search-1-icon10 {
  width: 27px;
  position: relative;
  height: 27px;
  overflow: hidden;
  flex-shrink: 0;
}
.search-parent {
  width: 382px;
  height: 27px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 248px;
}
.frame-inner2 {
  position: absolute;
  top: 48px;
  left: calc(50% + 18.5px);
  background-color: var(--color-white);
  width: 405px;
  height: 46px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 0 11px;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-gray-100);
}
.desktop-1,
.frame {
  overflow: hidden;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
.frame {
  position: absolute;
  top: 0;
  left: -12px;
  width: 1581px;
  height: 2524px;
  text-align: center;
}
.desktop-1 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 2886px;
  text-align: left;
}
