.empty-chairs-tables-cafe-1-icon3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1581px;
  height: 845px;
  object-fit: cover;
}
.desktop-3-child {
  position: absolute;
  top: 82px;
  left: calc(50% - 720px);
  background-color: var(--color-black);
  width: 1440px;
  height: 721px;
  opacity: 0.4;
  mix-blend-mode: multiply;
}
.desktop-3-item {
  position: absolute;
  top: 793px;
  left: 0;
  background-color: var(--color-gray-200);
  width: 1440px;
  height: 1412px;
}
.desktop-3-inner {
  position: absolute;
  top: 687px;
  left: calc(50% - 600px);
  background-color: var(--color-darkorange);
  width: 1192px;
  height: 206px;
}
.desktop-3-child1 {
  position: absolute;
  top: 2205px;
  left: 0;
  background-color: var(--color-white);
  width: 1440px;
  height: 319px;
}
.empty-chairs-by-table-room-1-icon3 {
  position: absolute;
  top: 2116px;
  left: 686px;
  width: 0;
  height: 0;
  object-fit: cover;
}
.group-child47 {
  position: absolute;
  top: 13px;
  left: 232px;
  max-height: 100%;
  width: 963px;
}
.best-sellers3 {
  position: absolute;
  top: 0;
  left: 0;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 208px;
  height: 25px;
}
.vector-parent4 {
  position: absolute;
  top: 1812px;
  left: 123px;
  width: 1195px;
  height: 25px;
  font-family: var(--font-montagu-slab);
}
.mask-group-icon15,
.mask-group-icon16,
.mask-group-icon17 {
  position: absolute;
  top: 1131px;
  left: 123px;
  width: 286px;
  height: 192px;
  object-fit: cover;
}
.mask-group-icon16,
.mask-group-icon17 {
  top: 1547px;
  width: 589px;
}
.mask-group-icon17 {
  top: 1131px;
  left: 426px;
  width: 286px;
  height: 400px;
}
.group-child48,
.mask-group-icon18 {
  position: absolute;
  width: 286px;
  height: 192px;
}
.mask-group-icon18 {
  top: 1131px;
  left: 1032px;
  object-fit: cover;
}
.group-child48 {
  top: 0;
  left: 0;
  background-color: var(--color-white);
}
.group-child49 {
  object-fit: cover;
}
.group-child49,
.group-wrapper35,
.group-wrapper36 {
  position: absolute;
  top: 0;
  left: 0;
  width: 202.5px;
  height: 188.1px;
}
.group-wrapper35 {
  top: 3.9px;
  left: 37.5px;
}
.mask-group-icon19,
.rectangle-parent24,
.rectangle-parent25 {
  position: absolute;
  top: 1131px;
  left: 728px;
  width: 286px;
  height: 192px;
}
.mask-group-icon19,
.rectangle-parent25 {
  top: 1339px;
  left: 123px;
}
.mask-group-icon19 {
  left: 728px;
  width: 590px;
  height: 400px;
  object-fit: cover;
}
.group-child52 {
  position: absolute;
  top: 19px;
  left: 295px;
  max-height: 100%;
  width: 900px;
}
.view-by-category3 {
  position: absolute;
  top: 0;
  left: 0;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 277px;
  height: 38px;
}
.vector-parent5 {
  position: absolute;
  top: 1020px;
  left: 123px;
  width: 1195px;
  height: 38px;
  font-family: var(--font-montagu-slab);
}
.span12 {
  font-size: var(--font-size-mini);
}
.your-premier-partner3 {
  font-size: var(--font-size-base);
}
.your-premier-partner-for-godre11 {
  font-weight: 500;
  font-family: var(--font-montserrat);
}
.at-labhdayak-we3,
.your-premier-partner-for-godre10 {
  text-transform: capitalize;
  white-space: pre-wrap;
}
.at-labhdayak-we3 {
  text-transform: lowercase;
}
.your-premier-partner-container3 {
  position: absolute;
  top: 2295px;
  left: calc(50% - 422px);
  color: var(--color-black);
  display: inline-block;
  width: 829px;
  height: 175px;
  font-size: var(--font-size-mini);
}
.one-stop-solution-container3 {
  position: absolute;
  top: 728px;
  left: calc(50% - 376px);
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--font-montagu-slab);
  display: inline-block;
  width: 745px;
}
.empty-chairs-by-table-room-2-icon6,
.empty-chairs-by-table-room-2-icon7 {
  position: absolute;
  top: 1910px;
  left: 422px;
  width: 288.1px;
  height: 202px;
  object-fit: cover;
}
.empty-chairs-by-table-room-2-icon7 {
  left: 1030px;
}
.home-automation-with-tablet-2-icon3,
.home-automation-with-tablet-3-icon3 {
  position: absolute;
  top: 1910px;
  left: 116px;
  width: 292px;
  height: 202px;
  object-fit: cover;
}
.home-automation-with-tablet-3-icon3 {
  left: 724px;
}
.group-child53,
.group-child54 {
  position: absolute;
  top: 18px;
  left: 0;
  background-color: var(--color-white);
  width: 153px;
  height: 138px;
}
.group-child54 {
  background-color: var(--color-gainsboro-100);
  height: 48px;
}
.education1,
.hospital1,
.laboratories1 {
  position: absolute;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  height: 21px;
}
.hospital1 {
  top: 0;
  left: 24px;
  width: 84px;
  cursor: pointer;
}
.education1,
.laboratories1 {
  top: 43px;
  left: 16px;
  width: 101px;
}
.laboratories1 {
  top: 86px;
  left: 0;
  width: 130px;
}
.group-child55,
.hospital-group {
  position: absolute;
  top: 34px;
  left: 10px;
  width: 130px;
  height: 107px;
}
.group-child55 {
  top: 0;
  left: 19px;
  background-color: var(--color-gainsboro-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 264px;
  height: 281px;
}
.hospital-bed {
  margin-block-start: 0;
  margin-block-end: 10px;
}
.accessories {
  margin: 0;
}
.hospital-bed-lockers-container {
  position: absolute;
  top: 31px;
  left: 50px;
  text-transform: capitalize;
  font-weight: 500;
}
.group-child56 {
  position: absolute;
  top: 25px;
  left: 0;
  width: 20px;
  height: 30px;
}
.rectangle-parent27 {
  position: absolute;
  top: 0;
  left: 127px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 283px;
  height: 281px;
  font-size: var(--font-size-mini);
}
.rectangle-parent26 {
  position: absolute;
  top: 123px;
  left: 286px;
  width: 410px;
  height: 281px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.group-child57 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 1440px;
  height: 141px;
}
.furniture3,
.green-panel3,
.security3 {
  position: absolute;
  top: 0;
  left: 0;
  text-transform: uppercase;
  font-weight: 500;
}
.green-panel3,
.security3 {
  left: 152px;
}
.green-panel3 {
  left: 285px;
}
.furniture-parent1 {
  position: absolute;
  top: 24px;
  left: 268px;
  width: 404px;
  height: 20px;
}
.profile-user-2-icon3,
.shopping-cart-1-icon3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  overflow: hidden;
}
.shopping-cart-1-icon3 {
  left: 40.1px;
}
.profile-user-2-parent1 {
  position: absolute;
  top: 24px;
  left: 1233px;
  width: 65.1px;
  height: 25px;
}
.group-child58,
.group-child59 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-child58 {
  height: 100%;
  width: 35.07%;
  top: 0;
  right: 64.93%;
  bottom: 0;
  left: 0;
  object-fit: cover;
}
.group-child59 {
  height: 60.58%;
  width: 58.93%;
  top: 20.47%;
  right: 0;
  bottom: 18.94%;
  left: 41.07%;
}
.group-wrapper39,
.group-wrapper40 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.group-wrapper39 {
  width: 15.79%;
  right: 84.21%;
}
.group-child60 {
  position: absolute;
  top: 0;
  left: calc(50% - 202.5px);
  background-color: var(--color-white);
  width: 405px;
  height: 46px;
}
.search-1-icon3 {
  position: absolute;
  top: 0;
  left: 355px;
  width: 27px;
  height: 27px;
  overflow: hidden;
}
.search3 {
  position: absolute;
  top: 4px;
  left: 0;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  font-weight: 500;
}
.search-1-parent1 {
  position: absolute;
  top: 10px;
  left: 12px;
  width: 382px;
  height: 27px;
}
.rectangle-parent29 {
  position: absolute;
  top: 13px;
  left: calc(50% + 115.95px);
  width: 405px;
  height: 46px;
  font-size: var(--font-size-mini);
  color: var(--color-gray-100);
}
.group-parent9 {
  position: absolute;
  top: 35px;
  left: 44px;
  width: 1298.1px;
  height: 71.8px;
}
.group-child61,
.rectangle-parent28 {
  position: absolute;
  left: 0;
  width: 1440px;
}
.rectangle-parent28 {
  top: 0;
  height: 141px;
  text-align: left;
  font-size: var(--font-size-base);
}
.group-child61 {
  bottom: 0;
  background-color: var(--color-gray-200);
  height: 343px;
}
.labhdayak-interior-solutions3 {
  position: absolute;
  top: 217px;
  left: calc(50% - 181.5px);
  font-size: var(--font-size-mini);
  letter-spacing: 0.12em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 507px;
  height: 18px;
}
.group-child62 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 229px;
  height: 62px;
}
.authorized-dealer3 {
  position: absolute;
  top: 0;
  left: calc(50% - 54.95px);
  text-transform: capitalize;
  display: inline-block;
  width: 110px;
  height: 15.5px;
}
.godrej3 {
  font-family: var(--font-mr-dafoe);
}
.godrej-interio3 {
  position: absolute;
  top: 12.4px;
  left: 0;
  font-size: var(--font-size-5xl);
  text-transform: capitalize;
  display: inline-block;
  width: 152.3px;
  height: 24.8px;
}
.group-wrapper44,
.group-wrapper45 {
  position: absolute;
  top: 0;
  left: calc(50% - 76.15px);
  width: 152.3px;
  height: 37.2px;
}
.group-wrapper44 {
  top: 9.3px;
  left: calc(50% - 76.2px);
}
.group-wrapper43,
.rectangle-parent31 {
  position: absolute;
  top: 0;
  left: 0;
  width: 229px;
  height: 62px;
}
.group-wrapper43 {
  top: 107px;
  left: 1022px;
  font-size: var(--font-size-xs);
  color: var(--color-black);
}
.about-us-career-container3 {
  position: absolute;
  top: 59px;
  left: 0;
  font-size: var(--font-size-mini);
  line-height: 30px;
  text-transform: uppercase;
}
.about-parent1,
.div3,
.policy-parent1 {
  position: absolute;
  top: 0;
  left: 444px;
  width: 89px;
  height: 149px;
}
.div3,
.policy-parent1 {
  left: 599px;
  width: 171px;
  height: 119px;
}
.div3 {
  top: 59px;
  left: 4px;
  font-size: var(--font-size-base);
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 111px;
  height: 67px;
}
.contact-parent1,
.group-child63 {
  position: absolute;
  top: 0;
  left: 836px;
  width: 119px;
  height: 126px;
}
.group-child63 {
  left: 0;
  background-color: var(--color-white);
  width: 229px;
  height: 96px;
}
.r3 {
  text-transform: uppercase;
}
.egistered3 {
  text-transform: lowercase;
}
.registered-member3 {
  position: absolute;
  top: 66px;
  left: calc(50% - 66px);
  font-weight: 500;
}
.px-gem-logo-1-icon3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 198px;
  height: 58px;
  object-fit: cover;
}
.registered-member-parent1 {
  position: absolute;
  top: 6px;
  left: calc(50% - 98.5px);
  width: 198px;
  height: 82px;
}
.rectangle-parent32 {
  position: absolute;
  top: 0;
  left: 1022px;
  width: 229px;
  height: 96px;
  font-size: var(--font-size-smi);
  color: var(--color-black);
}
.facebook-1-icon3 {
  position: absolute;
  top: 0;
  left: 98px;
  width: 33px;
  height: 33px;
  overflow: hidden;
}
.instagram-1-icon3,
.linkedin-1-icon3,
.whatsapp-1-icon3,
.youtube-1-icon3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 33px;
  height: 33px;
  overflow: hidden;
}
.instagram-1-icon3,
.linkedin-1-icon3,
.youtube-1-icon3 {
  left: 147px;
}
.instagram-1-icon3,
.linkedin-1-icon3 {
  left: 196px;
}
.instagram-1-icon3 {
  left: 49px;
}
.facebook-1-parent1 {
  position: absolute;
  top: 202px;
  left: 1022px;
  width: 229px;
  height: 33px;
}
.mumbai-pune-road3 {
  position: absolute;
  top: 175px;
  left: 13px;
  font-size: var(--font-size-base);
  line-height: 30px;
  text-transform: uppercase;
  display: inline-block;
  width: 346px;
}
.group-child64,
.group-child65 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-child64 {
  height: 100%;
  width: 35.06%;
  top: 0;
  right: 64.94%;
  bottom: 0;
  left: 0;
  object-fit: cover;
}
.group-child65 {
  height: 60.5%;
  width: 58.95%;
  top: 20.5%;
  right: -0.03%;
  bottom: 18.99%;
  left: 41.07%;
}
.group-parent11 {
  position: absolute;
  height: 50.64%;
  width: 28.71%;
  top: 0;
  right: 71.29%;
  bottom: 49.36%;
  left: 0;
}
.labhdayak-interior-solutions-c-parent1 {
  position: absolute;
  top: 54px;
  left: calc(50% - 625px);
  width: 1251px;
  height: 235px;
}
.rectangle-parent30,
.rectangle-parent33 {
  position: absolute;
  left: 0;
  width: 1440px;
  text-align: left;
}
.rectangle-parent30 {
  bottom: 0;
  height: 343px;
}
.rectangle-parent33 {
  top: 0;
  height: 141px;
  display: none;
  font-size: var(--font-size-base);
}
.desktop-3 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 2886px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
