.whatsapp-channel-partners-02 {
  width: 100%;
  position: relative;
  height: 4096px;
  background-image: url(/public/whatsappchannel-partners02@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
